*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

#container {
    background-color: pink;
    display:flex;
    flex-direction: row;
    justify-content:left; 
    flex-wrap: wrap;
    /*max-width: 80px;*/
    margin:20px;
  

    

  }

/* container max width needs to 20px * input value*/


  .pixel {
    background-color: white;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    
   
  }

  #bottom {
    margin:20px;

      }
       */


  #gridsize {
max-width: 50px;
min-height: 30px;
font-size: medium;
text-align: center;

  }

   #submitButton {
min-width: 50px;
min-height: 30px;


  }
  

label{
  margin:20px;

}

.pen {
  background-color: black;


}

